@font-face {
 font-family: YOUR FONT NAME;
 font-style: normal;
 font-weight: 400;
 src: url(https://rawcdn.githack.com/brxce2001/customfonts/9a73caf7d7760124f8f22178697e0b4e6d16059c/Keray-Regular.otf) ;
}
